<p id="notice"><%= notice %></p>

<p>
  <strong>S start:</strong>
  <%= @football.s_start %>
</p>

<p>
  <strong>S end:</strong>
  <%= @football.s_end %>
</p>

<p>
  <strong>P start:</strong>
  <%= @football.p_start %>
</p>

<p>
  <strong>P end:</strong>
  <%= @football.p_end %>
</p>

<p>
  <strong>F start:</strong>
  <%= @football.f_start %>
</p>

<p>
  <strong>F end:</strong>
  <%= @football.f_end %>
</p>

<p>
  <strong>Tmp:</strong>
  <%= @football.tmp %>
</p>

<p>
  <strong>Tmp2:</strong>
  <%= @football.tmp2 %>
</p>

<%= link_to 'Edit', edit_football_path(@football) %> |
<%= link_to 'Back', footballs_path %>
